@import '../../utils/common-styles.scss';

.game {
  height: 100%;
  background-image: url(../../assets/images/main-back.jpg);
  @extend %imgBackground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  padding: 20px 0;
  gap: 20px;

  &__fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  &__main-field,
  &__puzzle-field {
    width: 900px;
    background-color: var(--light-1);
    border-radius: 7px;
  }

  &__main-field {
    min-height: 520px;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  &__puzzle-field {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  &__item {
    max-height: 50px;
    animation-name: apear;
    animation-duration: 0.7s;

    @keyframes apear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    svg {
      height: 50px;
    }
  }
  &__cover {
    min-width: 60px;
    min-height: 40px;
    max-height: 50px;
    border-radius: 5px;
  }
  &__btn {
    @extend %btn;
    display: none;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    min-height: 60px;
    gap: 30px;
  }

  .empty {
    border: 3px dotted var(--blue);
    min-width: 55px;
    min-height: 40px;
    border-radius: 5px;
  }
}
