@import '../../utils/common-styles.scss';

.hints {
  width: 900px;
  border-radius: 5px;
  background-color: var(--light-1);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  @media screen and (width < 1000px) {
    width: 700px;
  }
  &__audio {
    display: flex;
    width: 30px;
    height: 30px;
    margin: auto;
  }

  &__cover {
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (width < 1000px) {
      width: 700px;
    }
  }

  &__text {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    @extend %apearAnimation;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .disable {
      background-color: var(--light-3);
    }
  }

  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    @extend %imgBackground;
    background-color: var(--red);
    &:hover {
      cursor: pointer;
    }
  }
  &__text-btn {
    background-image: url('../../assets/hints/text-btn.png');
  }
  &__sound-btn {
    background-image: url('../../assets/hints/sound-btn.png');
  }
  &__background-btn {
    background-image: url('../../assets/hints/background-btn.png');
  }
}
@media screen and (width < 1000px) {
  .hints {
    width: 850px;

    &__cover {
      width: 620px;
    }
  }
}
@media screen and (width < 900px) {
  .hints {
    width: 700px;

    &__cover {
      width: 520px;
    }
  }
}
