@import '../../utils/common-styles.scss';

.game__item {
  overflow: visible;
  box-sizing: border-box;
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;
  color: var(--light-0);
  height: 50px;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.content {
  filter: drop-shadow(0 0 2px var(--blue)) drop-shadow(0 0 2px var(--blue));
}
.canvas {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.mid,
.first,
.last {
  width: calc(100% + 10px);
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(121, 121, 117);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: italic;

  z-index: 1;

  --gap: 0px;
  --radius: 10px;
}

.first {
  mask:
    radial-gradient(calc(var(--radius)) at 50% calc(0% - var(--gap)), #ffffff, #f9f9f9) left /
      calc(100% - var(--radius)) 100% no-repeat,
    radial-gradient(var(--radius) at top 50% right var(--radius), #000 100%, #0000);
}
.mid {
  mask:
    radial-gradient(calc(var(--radius) + var(--gap)) at calc(0% + var(--gap)) 50%, #0000 100%, #000) left /
      calc(100% - var(--radius)) 100% no-repeat,
    radial-gradient(var(--radius) at top 50% right var(--radius), #000 100%, #0000);
}
.last {
  width: 100%;
  mask: radial-gradient(calc(var(--radius) + var(--gap)) at calc(0% - var(--gap)) 50%, #0000 100%, #000);
}
