@import '../../utils/common-styles.scss';

.result {
  width: 100%;
  height: 100%;
  display: flex;
  @include fadeIn(2s);

  &__stat {
    width: 600px;
    height: 600px;
    background: var(--light-1);
    padding: 10px;
    border-radius: 7px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__continue {
    @extend %btn;
  }
  &__fade-out {
    @include fadeOut(1s);
  }
  &__container {
    display: flex;
  }
  &__audio {
    width: 20px;
    height: 20px;
  }

  &__sucess,
  &__fail {
    padding: 5px;
    border-radius: 7px;
  }
  &__sucess {
    background: var(--green);
  }
  &__fail {
    background: var(--red);
  }
}
